
Body, A
{
   font-family: Verdana, Arial, Helvetica, Sans Serif;
   font-size: 8pt;
   font-weight: normal;
   color: black;
}

Body
{
    background-color: white;
    background-image: url(installbg.gif);
    background-repeat: repeat-x;
    margin:25px 25px 0px 25px;
}

.Normal
{
   font-family: Verdana, Arial, Helvetica, Sans Serif;
   font-size: 8pt;
   font-weight: normal;
   color: black;
}

.NormalBold
{
   font-family: Verdana, Arial, Helvetica, Sans Serif;
   font-size: 8pt;
   font-weight: bold;
   color: black;
}

.Help
{
   font-family: Verdana, Arial, Helvetica, Sans Serif;
   font-size: 8pt;
   font-weight: normal;
   color: black;
   padding-left: 20px;
}
.FeedBack
{
   font-family: Verdana, Arial, Helvetica, Sans Serif;
	font-size: 9pt;
	font-weight: normal;
	color: black;
	border: black 1px solid;
	background-color: transparent;
}

H1
{
	font-size: 1.5em;
	font-weight: bold;
	color: #75808A;
	text-decoration: underline;
}

H2  {
	font-size: 1.4em;
    font-weight: bold;
    color: #75808A;
}

H3  {
    font-size:  1.2em;
    font-weight:  bold;
    color: #75808A;
}

H4  {
    font-size:  1.2em;
    font-weight: bold;
    color: #75808A;
}

H5  {
    font-size:  1.1em;
    font-weight:    bold;
    color: #75808A;
}

H6  {
    font-size:  1.0em;
    font-weight:    bold;
    color: #75808A;
}

.Wizard, .Error
{
	width: 750px;
	height:300px;

}

.WizardButton
{
   font-family: Verdana, Arial, Helvetica, Sans Serif;
   background-color:Transparent;
	font-size: 1.0em;
	font-weight: bold;
	text-decoration: none;
	color: #990000;
	border:solid 1px #999999;
	padding: 10px;
}
A.WizardButton:link, A.WizardButton:visited, A.WizardButton:active, A.WizardButton:hover
{
	text-decoration: none;
	color: #990000;
}
.WizardButtonDisabled
{
	font-family: Verdana, Arial, Helvetica, Sans Serif;
	background-color: #eeeeee;
	font-size: 1.0em;
	font-weight: bold;
	text-decoration: none;
	color: #990000;
	border: solid 1px #999999;
	padding: 10px;
}
A.WizardButtonDisabled:link, A.WizardButtonDisabled:visited, A.WizardButtonDisabled:active, A.WizardButtonDisabled:hover
{
	text-decoration: none;
	color: Silver;
}
A:link  {
    font-size:  1.0em;
    font-weight:    bold;
    text-decoration:    none;
    color:  #75808A;
}

A:visited   {
    font-size:  1.0em;
    font-weight:    bold;
    text-decoration:    none;
    color:  #75808A;
}

A:active    {
    font-size:  1.0em;
    font-weight:    bold;
    text-decoration:    none;
    color:  #75808A;
}

A:hover {
    font-size:  1.0em;
    font-weight:    bold;
    text-decoration: underline;
    color:  #cc0000;
}

HR {
    color: #ededed;
    height:1pt;
    text-align:left
}
